.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

.body {
  display: block;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'Proxima nova font', sans-serif;
  color: #f58092;
  mix-blend-mode: normal;
}

.section {
  background-color: #ffdbe0;
}

.title-image {
  position: relative;
  padding: 10px;
}

.main-heading {
  position: relative;
  top: auto;
  bottom: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Verdana, Geneva, sans-serif;
  color: #f58092;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: normal;
  white-space: normal;
}

.code-container {
  min-height: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: rgb(37, 41, 46);
  text-align: left;
}

.description-quote {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 0px 0px 5%;
  color: #4c4c4c;
  font-size: 15px;
}

.text-span {
  color: #f58092;
  font-size: 30px;
  font-weight: 600;
}

.text-span-2 {
  position: relative;
  top: 10px;
  bottom: auto;
  color: #f58092;
}

.section-3 {
  position: relative;
  top: 60px;
  bottom: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 0px;
}

.section-2 {
  position: relative;
  top: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.project-title {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  direction: ltr;
  font-family: 'Proxima nova font', sans-serif;
  color: #f58092;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.creator-and-time {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f58092;
  text-align: center;
}

.slide {
  border-radius: 0px;
  background-color: #ebf3fa;
  opacity: 1;
  color: #fff;
}

.code {
  color: rgb(133, 189, 252);
  font-size: 12.5px;
  font-family: 'Monaco';
}

.slider {
  max-width: 500px;
  border-radius: 20px;
  background-color: #fafafa;
  margin: auto;
}

.mask {
  border-radius: 20px;
}

.slide-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: left;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -o-object-fit: cover;
  object-fit: cover;
}

.lightbox-link {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.description-container {
  max-width: 55%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-top: 100px;
  margin-bottom: 15px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.arrow {
  max-width: none;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px 0 #000;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  cursor: pointer;
  mix-blend-mode: normal;
}

.top-button {
  margin-right: 15px;
  border-radius: 10px;
  background-color: #f58092;
}

.top-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.body-2 {
  font-family: 'Proxima nova font', sans-serif;
  color: #f58092;
}

.section22 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #f58092;
  font-size: 20px;
}

.video {
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 2px solid #e2e2e2;
  text-align: center;
}

.project-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.project-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.project-image img:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.body-3 {
  font-family: 'Proxima nova font', sans-serif;
  color: #f58092;
}

.container21 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.project-heading {
  margin-bottom: 50px;
}

.heading {
  text-align: left;
}

.project-container-subpage {
  padding-right: 5%;
  padding-bottom: 100px;
  padding-left: 5%;
}

.section-11 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.individual {
  border-bottom: 2px solid #e2e2e2;
}

.section21 {
  margin-top: 50px;
  border-top: 1px none #4f92cf;
}

@media screen and (max-width: 991px) {
  .project-grid-container {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .description-container {
    max-width: 60%;
  }

  .section22 {
    padding: 40px 20px;
  }

  .project-section {
    padding: 40px 20px;
  }

  .project-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .description-container {
    max-width: 80%;
  }

  .project-container {
    text-align: left;
  }

  .project-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-dab41e6f-ba55-01c5-e7b1-0b213f9d4730-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_15538d2c-ccdd-850e-a3b4-06767cfa8c49-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1daaff49-9194-e13e-521c-e21f9b4d2df9-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1660a3ea-ea43-8ba8-9c9d-37c3d82088be-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5dc4c6e9-cca3-775e-347d-688d2543c28b-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_47a2418b-8791-878d-996b-a2881b1aef8d-bd8f30df {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-a0fa10a6-f049-a653-49b3-d1b3f5107439-75472b12 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a0fa10a6-f049-a653-49b3-d1b3f510743b-75472b12 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a0fa10a6-f049-a653-49b3-d1b3f5107440-75472b12 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a0fa10a6-f049-a653-49b3-d1b3f5107442-75472b12 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a0fa10a6-f049-a653-49b3-d1b3f510742f-75472b12 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a0fa10a6-f049-a653-49b3-d1b3f5107436-75472b12 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a0fa10a6-f049-a653-49b3-d1b3f510743d-75472b12 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_8b2a715c-f4d5-01d0-60e9-12d45a5e5d79-75472b12 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Proxima nova font';
  src: url('../fonts/Proxima-Nova-Font.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima nova font';
  src: url('../fonts/Proxima-Nova-Font.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.paragraph {
  font-size:16px;
}

.fa:hover {
  opacity: 0.5;
  transition:0.5s;
}

.individual a:hover {
  opacity: 0.5;
  transition:0.5s;
}

.container-2 {
  max-width: 500px;
}

.textarea {
  max-width: 100%;
  min-width: 100%;
}

.text-field.cc-textarea {
  text-align: left;
  height: 200px;
  padding-top: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f58092; /* Button background color */
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: none; /* Initially hidden */
}